<div class="accoutn_section">
  <div class="container">
    <div class="account_content">
      <%- include(WEBSITE_MODULES_PATH + "/elements/tutor_left_link.html" ) %>

        <div class="account_right">
          <div class="tutor_dashboard">
            <div class="total_earning tutor_billing">
              <div class="title_row">
                <h2>Dashboard</h2>
              </div>

              <div class="my_current_plans">
                <h4>Upcoming Sessions</h4>
                <a class="view_all_link" href="javascript:void(0);">View All <img
                    src="<%=WEBSITE_IMG_URL%>right-arrow.png" alt="img"></a>
                <div class="clearfix"></div>
              </div>


              <div class="upcoming_sessions">
                <ul>
                  <li>
                    <div class="tutor_box">
                      <h3>Linear Inequalities</h3>
                      <figure><img src="<%=WEBSITE_IMG_URL%>profile95.jpg" alt="img" loading="lazy"></figure>

                      <div class="tutor_detail_box">
                        <div class="tutor_content">
                          <strong>Tutor</strong>
                          <span>Jagdish Mahato</span>
                        </div>
                        <div class="tutor_content">
                          <strong>Starts At</strong>
                          <span>12/10/2019</span> <span class="datetime"><img src="<%=WEBSITE_IMG_URL%>date-picker.png"
                              alt="img" loading="lazy"> 12:32</span>
                        </div>
                        <div class="tutor_content">
                          <strong>Subject</strong>
                          <span>Maths</span>
                        </div>
                      </div>

                      <div class="join_now_btn">
                        <a class="btn btn-info" href="javascript:void(0)"> Join Now</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="tutor_box">
                      <h3>Linear Inequalities</h3>
                      <figure><img src="<%=WEBSITE_IMG_URL%>profile095.jpg" alt="img" loading="lazy"></figure>

                      <div class="tutor_detail_box">
                        <div class="tutor_content">
                          <strong>Tutor</strong>
                          <span>Jagdish Mahato</span>
                        </div>
                        <div class="tutor_content">
                          <strong>Starts At</strong>
                          <span>12/10/2019</span> <span class="datetime"><img src="<%=WEBSITE_IMG_URL%>date-picker.png"
                              alt="img" loading="lazy"> 12:32</span>
                        </div>
                        <div class="tutor_content">
                          <strong>Subject</strong>
                          <span>Maths</span>
                        </div>
                      </div>
                      <div class="join_now_btn">
                        <a class="btn btn-info" href="javascript:void(0)"> Join Now</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="tutor_box">
                      <h3>Linear Inequalities</h3>
                      <figure><img src="<%=WEBSITE_IMG_URL%>profile195.jpg" alt="img" loading="lazy"></figure>

                      <div class="tutor_detail_box">
                        <div class="tutor_content">
                          <strong>Tutor</strong>
                          <span>Jagdish Mahato</span>
                        </div>
                        <div class="tutor_content">
                          <strong>Starts At</strong>
                          <span>12/10/2019</span> <span class="datetime"><img src="<%=WEBSITE_IMG_URL%>date-picker.png"
                              alt="img" loading="lazy"> 12:32</span>
                        </div>
                        <div class="tutor_content">
                          <strong>Subject</strong>
                          <span>Maths</span>
                        </div>
                      </div>

                      <div class="join_now_btn">
                        <a class="btn btn-info" href="javascript:void(0)"> Join Now</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>


            </div>
          </div>
        </div>
    </div>
    <div class="clearfix"></div>

  </div>
</div>