<% 
	var result		= 	(typeof result !== typeof undefined)?	result 	: {};	
	var id			= 	result._id;	
	formData 		= 	(formData) ?	formData : result ;
%>
 
<div class="container-fluid" id="main-container">
	<div class="row clearfix" >
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<% if(id){ %>
						<h2> <%= __("admin.email_actions.edit_page_heading"); %></h2>
					<% } else { %>	
						<h2> <%= __("admin.email_actions.add_page_heading"); %></h2>
					<% } %>	
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>" ><button type="button" class="btn bg-indigo waves-effect"><i class="material-icons font-14">keyboard_backspace</i> <%= __("admin.system.back")%></button></a>
						</li>
					</ul>
				</div>
				<div class="body">
 
					<form id="add-cms" data-submit-btn-id="cms-add-btn-id" method="post" role="form"  enctype="multipart/form-data">	 

						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="form-line">
										<label for="action" class="control-label">
											<%= __("admin.email_actions.action")%> <span class="required"> *</span>
										</label>
										<input type="text" id="action" class="form-control" name="action" value="<%= formData.action %>"/>
									</div>
									<% if(typeof error != "undefined" && error.action){  %>
										<span id="action_error" class="error"><%= error.action.msg %></span>
									<% } %>
								</div>
							</div>
						</div>
						
						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="form-line">
										<label for="options" class="control-label">
											<%= __("admin.email_actions.options")%> <span class="required"> *</span>
										</label>
										<textarea rows="4"  id="options" class="form-control no-resize"  name="options"><%= formData.options %></textarea>
									</div>
									<% if(typeof error != "undefined" && error.options){  %>
										<span id="options_error" class="error"><%= error.options.msg %></span>
									<% } %>
								</div>
							</div>
						</div>
						
						
						<button type="submit" id="admin-login-btn-id" class="btn bg-pink btn-sm waves-effect btn-submit" data-loading-text='<i class="material-icons font-14">save</i> Loading...' ><i class="material-icons font-14">save</i> <%= __("admin.system.submit")%></button>
						
						<% if(id){ %>
							<a href="<%=admin_list_url%>/edit/<%= id %>" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i>  <%= __("admin.system.reset")%> </button></a>
						<% } else { %>	
							<a href="<%=admin_list_url%>/add" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i>  <%= __("admin.system.reset")%> </button></a>
						<% } %>	
						
						<a href="<%= admin_list_url %>"><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i> <%= __("admin.system.cancel")%></button></a>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>