<header class="after_login">

	<script>

		var STUDENT_ROLE_SLUG = '<%=STUDENT_ROLE_SLUG%>';
		var TUTOR_ROLE_SLUG = '<%=TUTOR_ROLE_SLUG%>';
		var JS_DATE_FORMAT = '<%=JS_DATE_FORMAT%>';

		var WEBSITE_URL = '<%=WEBSITE_URL%>';


		var ERROR_ENTER_EMAIL_ADDRESS = 'Please enter email address.';
		var ERROR_ENTER_VALID_EMAIL_ADDRESS = "Please enter valid email address.";
		var ERROR_ENTER_PASSWORD = "Please enter password.";
		var ERROR_PASSWORD_CONFIRM_PASSWORD_NOT_MATCH = "Password and confirm password does not match.";

		var ERROR_ENTER_FIRST_NAME = 'Please enter first name.';
		var ERROR_ENTER_LAST_NAME = "Please enter last name.";
		var ERROR_ENTER_MOBILE_NO = "Please enter mobile number."
		var PASSWORD_REGX = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/;
		var ERROR_PASSWORD_REGX = "Password must have minimum 8 characters and should contain atleast 1 alphabet and 1 number and 1 special character.";
		var ERROR_ENTER_CONFIRM_PASSWORD = "Please enter confirm password.";
		var ERROR_ACCEPT_TERMS_CONDITION = "Please accept terms and conditions.";

		var PLEASE_ENTER_VALID_MOBILE_NO = 'Please enter a valid phone no.';


	</script>

	<link rel="stylesheet" href="<%=WEBSITE_CSS_PATH%>intl-tel-input/intlTelInput.css">
	<script src="<%=WEBSITE_JS_PATH%>intl-tel-input/intlTelInput.js"></script>




	<div class="container">
		<div class="logo_panel"> <a href="<%= WEBSITE_URL %>"><img src="<%=WEBSITE_IMG_URL%>logo2.png" alt="icon"
					loading="lazy"></a></div>
		<div class="navigation-panel">
			<!-- Mobile Visible -->
			<div class="user_account  mobile_visiable">


				<% if(!auth){ %>
					<a href="javascript:void(0)" onClick="openSigninSignupBox('<%=TUTOR_ROLE_SLUG %>' ,'login')"><img
							src="<%=WEBSITE_IMG_URL%>login.svg" alt="img" loading="lazy">Login</a> /<a
						href="javascript:void(0)" onClick="openSigninSignupBox('<%=TUTOR_ROLE_SLUG %>','signup')"><img
							src="<%=WEBSITE_IMG_URL%>registration.svg" alt="img" loading="lazy">Sign up</a>

					<% } else { %>
						<ul>
							<li class="user_box dropdown "><a href="javascript:void(0)"
									class="profile_toggle  dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									<figure><img src="<%=WEBSITE_IMG_URL%>user_img.jpg" alt="img"></figure>
									<%= auth.first_name %>
								</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<ul>
										<li><a class="dropdown-item" href="#">Dashboard</a></li>
										<li><a class="dropdown-item" href="#">My Account</a></li>									
										<li><a class="dropdown-item" href="<%= WEBSITE_URL %>logout">Logout</a></li>
									</ul>
								</div>
							</li>
						</ul>
						<% } %>


			</div>

			<!-- Mobile Visible End-->
			<button class="navbar-toggler" type="button"><span></span> <span></span> <span></span> <span></span>
			</button>
			<div class="navbar">
				<!-- <button class="navbar-close"><img src="images/cancel.svg" alt="img" loading="lazy"></button>-->
				<ul class="nav_navbar">
					<li> <a href="javascript:void(0);">How We Tutor</a></li>
					<li> <a href="<%=WEBSITE_URL%>our-products">Our Products </a></li>
					<li> <a href="javascript:void(0);">Gift Card </a></li>
					<li> <a href="javascript:void(0);">Essay Helper</a></li>
				</ul>
				<div class="user_account login_panel">


					<% if(!auth){ %>
						<a href="javascript:void(0)" onClick="openSigninSignupBox('<%=TUTOR_ROLE_SLUG %>' ,'login')">
							Login</a> /
						<a href="javascript:void(0)" onClick="openSigninSignupBox('<%=TUTOR_ROLE_SLUG %>','signup')">
							Sign up</a>

						<% } else { %>
							<ul>
								<li class="user_box dropdown "><a href="javascript:void(0)"
										class="profile_toggle  dropdown-toggle" id="dropdownMenuLink"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<figure><img src="<%=WEBSITE_IMG_URL%>user_img.jpg" alt="img"></figure>
										<%= auth.first_name %>
									</a>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									
										<ul>							
											<% if(auth.user_role_id == TUTOR_ROLE_ID) {%>
												<li><a class="dropdown-item" href="<%= WEBSITE_URL %>tutor/dashboard">Dashboard</a></li>
												<li><a class="dropdown-item" href="<%= WEBSITE_URL %>tutor/edit_profile">My Account</a></li>
											   
												<% } else { %>
													<li><a class="dropdown-item" href="<%= WEBSITE_URL %>student/dashboard"">Dashboard</a></li>
													<li><a class="dropdown-item" href="#">My Account</a></li>
											       
													<% }  %>
											
											
											<li><a class="dropdown-item" href="<%= WEBSITE_URL %>logout">Logout</a></li>
										</ul>
									</div>
								</li>
							</ul>
							<% } %>
				</div>

				<% if(!auth){ %>
					<div class="btn_group"> <a href="javascript:void(0);"
							class="btn btn-primary btn-outline-primary">Find a
							tutor</a> <a href="javascript:void(0);" class="btn btn-primary">Become a tutor</a> </div>
					<% } %>
						<!-- Mobile Visible -->
						<div class="mobile_contact">
							<ul class="footer_contact ">
								<li><i><img src="<%=WEBSITE_IMG_URL%>mail_blue_icon.svg" alt="img" loading="lazy"></i> <a
										href="javascript:void(0)">learner@couchtutors.com</a> <a
										href="javascript:void(0)">careers@couchtutors.com</a></li>
								<li><i><img src="<%=WEBSITE_IMG_URL%>call_blue_icon.svg" alt="img" loading="lazy"></i> <a
										href="javascript:void(0)">+1
										(815) 246-3506</a></li>
							</ul>
						</div>
						<!-- Mobile Visible End-->
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</header>

<script>

	var user_login_url = '/login';
	var tutor_signup_url = '/tutor/signup';
	var student_signup_url = '/student/signup';
 
	var submit_forgetPassword_otp_url = '/forgot-password';
    var forget_password_otp_modal_url = '/user/forget-verify-otp';
 
  



</script>