<form id="reset-password" data-submit-btn-id="password-reset-btn-id" method="post" class="on_click_submit" role="form">
	<div class="msg"><%= __("admin.system.reset_password")%></div>
	
	<div class="input-group">
		<span class="input-group-addon">
			<i class="material-icons">lock</i>
		</span>
		<div class="form-line">
			<input name="validate_string" type="hidden"  id="validate_string" class="form-control" value="<%=validate_string %>"/>
			<input name="password" type="password" class="form-control" value="<%= formData.password %>"  placeholder="<%= __("admin.system.new_password")%> *"/>
		</div>
		<% if(typeof error != "undefined" && error.password){  %>
			<span id="password_error" class="error"><%= error.password.msg %></span>
		<% } %>
	</div>
	
	<div class="input-group">
		<span class="input-group-addon">
			<i class="material-icons">lock</i>
		</span>
		  <div class="form-line">
			<input name="confirm_password" type="password" value="<%= formData.confirm_password %>" class="form-control" placeholder="<%= __("admin.system.confirm_password")%> *"/>
		</div>
		<% if(typeof error != "undefined" && error.confirm_password){  %>
			<span id="confirm_password_error" class="error"><%= error.confirm_password.msg %></span>
		<% } %>
	</div>
		 
	<button type="submit" id="admin-login-btn-id" class="btn bg-pink btn-sm waves-effect btn-submit" data-loading-text='<i class="material-icons font-14">save</i> Loading...' ><i class="material-icons font-14">save</i> <%= __("admin.system.submit")%></button>	 
		 
	<div class="row m-t-20 m-b--5 align-center">
		<a href="<%= WEBSITE_ADMIN_URL%>login" ><%= __("admin.system.back_to_login")%></a>
	</div>
</form>