
<div class="inner_banner data-img-bg" data-image-src="<%=WEBSITE_IMG_URL%>blogbg.jpg">
    <div class="container">
        <h1>Couch Blog</h1>
    </div>
</div>

<div class="blog-section">
    <div class="container">
        <div class="bloglist">
            <div class="blogleft">
                <% if(typeof result !==typeof undefined && result.length> 0){
                    let blogIndex = 0;
                    result.map(blogList=>{
                    %>
                    <div class="bloglistbox">
                        <div class="bloglistimg">
                            <figure><img src="<%=BLOG_URL + blogList['image'] %>" alt="img"></figure>
                        </div>
                        <div class="blogcontent">
                            <h4>
                                <%- (blogList.title) ? blogList.title : "" ; %>
                            </h4>
                            <span>Posted by <b>Couch Tutors</b>, Jan 29,2020 07:01 am</span>                          
                           
                            <div class="btn-custom">
                              <%- (blogList.decription) ? blogList.decription : "" ; %>                            
                              </div>  

                       <br>
                               <a href="<%=WEBSITE_URL + 'blog-detail/' + blogList.slug %>" class="btn btn-primary btn-outline-primary">Read more</a> 
                        </div>
                    </div>
                    <% blogIndex++; }); } %>




                            <% if (pages > 0) { %>
                                <ul class="pagination justify-content-center">
                                  <% if (current == 1) { %>
                                      <li class="page-item"><a><span class="page-link"> <figure><img src="<%=WEBSITE_IMG_URL%>pagination-left-arrow.png" alt="img"></figure> Previous</span></a></li>
                                  <% } else { %>
                                      <li class="page-item"><a class="page-link" href="<%=WEBSITE_URL%>blog/1"> <figure><img src="<%=WEBSITE_IMG_URL%>pagination-left-arrow.png" alt="img"></figure>Previous</a></li>
                                  <% } %>
                                  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                  <% if (i !== 1) { %>
                                      <li class="disabled page-item"><a>...</a></li>
                                  <% } %>
                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                      <% if (i == current) { %>
                                          <li class="active page-item"><a><%= i %></a></li>
                                      <% } else { %>
                                          <li class="page-item"><a class="page-link" href="<%= WEBSITE_URL%>blog/<%= i %>"><%= i %></a></li>
                                      <% } %>
                                      <% if (i == Number(current) + 4 && i < pages) { %>
                                          <li class="disabled page-item"><a>...</a></li>
                                      <% } %>
                                  <% } %>
                                  <% if (current == pages) { %>
                                      <li class="page-item">
                                        <a class="page-link" href="#">Next <figure><img
                                            src="<%=WEBSITE_IMG_URL%>pagination-right-arrow.png" alt="img"></figure></a>
                                      </li>
                                  <% } else { %>
                                      <li class="page-item">
                                        <a class="page-link" href="<%= WEBSITE_URL%>blog/<%= pages %>">Next <figure><img
                                            src="<%=WEBSITE_IMG_URL%>pagination-right-arrow.png" alt="img"></figure></a>
                                      </li>
                                  <% } %>
                              </ul>
                            <% } %>
                         

<!--                       



                                     

                <ul class="pagination justify-content-center">
                    <li class="page-item disabled"><a class="page-link prev_page" href="javascript:void(0);"
                            tabindex="-1" aria-disabled="true">
                            <figure><img src="<%=WEBSITE_IMG_URL%>pagination-left-arrow.png" alt="img"></figure>
                            Previous
                        </a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">...</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">9</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">10</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">11</a></li>
                    <li class="page-item"><a class="page-link next_page" href="javascript:void(0);">Next<figure><img
                                    src="<%=WEBSITE_IMG_URL%>pagination-right-arrow.png" alt="img"></figure></a>
                    </li>
                </ul>  -->
            </div>

            <div class="blogright">
                <%- include(WEBSITE_MODULES_PATH + "/elements/recent_post.html" ); %>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
	
        $(".btn-custom").each(function(i){
    len=$(this).text().length;
    if(len>10)
    {
      $(this).text($(this).text().substr(0,350)+'...');
    }
  }); 

});
</script>
