<%- include(WEBSITE_MODULES_PATH + "/elements/home/slider.html" ); %>



<%- include(WEBSITE_MODULES_PATH + "/elements/home/howitwork.html" ); %>


  <!-- <div class="full_video">
    <div class="container"> <iframe class="full_video_frame"
        src="https://www.youtube.com/embed/VFOW0lEKRjo?autoplay=1&amp;mute=1"> </iframe> </div>
  </div> -->



  <%- include(WEBSITE_MODULES_PATH + "/elements/home/choose_your_subject.html" ); %>

  


    <%- include(WEBSITE_MODULES_PATH + "/elements/home/we_are_featuring.html" ); %>






      <div class="meet_tutor">
        <div class="container">
          <div class="section-title">
            <h2>Meet some of our awesome tutors</h2>
            <p> Give wings to your career</p>
          </div>
          <div class="outer">
            <div id="big" class="owl-carousel owl-theme">
              <div class="item">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_img.jpg" alt="img" loading="lazy"></figure>
                <div class="totur_detail"> <span>John smith</span>
                  <p>ABQ Math Tutoring<strong>30 + years of experience</strong></p>
                </div>
              </div>
              <div class="item">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_img.jpg" alt="img" loading="lazy"></figure>
                <div class="totur_detail"> <span>John smith</span>
                  <p>ABQ Math Tutoring<strong>30 + years of experience</strong></p>
                </div>
              </div>
              <div class="item">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_img.jpg" alt="img" loading="lazy"></figure>
                <div class="totur_detail"> <span>John smith</span>
                  <p>ABQ Math Tutoring<strong>30 + years of experience</strong></p>
                </div>
              </div>
              <div class="item">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_img.jpg" alt="img" loading="lazy"></figure>
                <div class="totur_detail"> <span>John smith</span>
                  <p>ABQ Math Tutoring<strong>30 + years of experience</strong></p>
                </div>
              </div>
            </div>
            <div id="thumbs" class="owl-carousel owl-theme">
              <div class="item">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_thumb_img1.jpg" alt="img" loading="lazy"></figure>
              </div>
              <div class="item">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_thumb_img2.jpg" alt="img" loading="lazy"></figure>
              </div>
              <div class="item">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_thumb_img3.jpg" alt="img" loading="lazy"></figure>
              </div>
              <div class="item">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_thumb_img4.jpg" alt="img" loading="lazy"></figure>
              </div>
            </div>
          </div>
          <div class="text-center view_more"> <a href="javascript:void(0)" class="btn btn-primary">View all</a> </div>
        </div>
      </div>
      <div class="tutor_reviews">
        <div class="container">
          <div class="section-title">
            <h2>Tutor Reviews</h2>
            <p>Brightest minds from across the globe help you move up in your career</p>
          </div>
          <div class="reviews_carousel owl-carousel owl-theme">
            <div class="item">
              <div class="tutor_review_txt">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_profile1.jpg" alt="img" loading="lazy"></figure>
                <h4>John Smith</h4>
                <strong>ABQ Math Tutoring</strong> <span class="rating"><img src="<%=WEBSITE_IMG_URL%>rating_img.png"
                    alt="img" loading="lazy"> 4.5</span>
                <p>Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry. Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry.</p>
                <a href="javascript:void(0)" class="btn btn-primary btn-outline-primary">Read more</a>
              </div>
            </div>
            <div class="item">
              <div class="tutor_review_txt">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_profile1.jpg" alt="img" loading="lazy"></figure>
                <h4>Paul Phillips</h4>
                <strong>ABQ Math Tutoring</strong> <span class="rating"><img src="<%=WEBSITE_IMG_URL%>rating_img.png"
                    alt="img" loading="lazy"> 4.5</span>
                <p>Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry. Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry.</p>
                <a href="javascript:void(0)" class="btn btn-primary btn-outline-primary">Read more</a>
              </div>
            </div>
            <div class="item">
              <div class="tutor_review_txt">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_profile1.jpg" alt="img" loading="lazy"></figure>
                <h4>Stuart Johnson</h4>
                <strong>ABQ Math Tutoring</strong> <span class="rating"><img src="<%=WEBSITE_IMG_URL%>rating_img.png"
                    alt="img" loading="lazy"> 4.5</span>
                <p>Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry. Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry.</p>
                <a href="javascript:void(0)" class="btn btn-primary btn-outline-primary">Read more</a>
              </div>
            </div>
            <div class="item">
              <div class="tutor_review_txt">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_profile1.jpg" alt="img" loading="lazy"></figure>
                <h4>John Smith</h4>
                <strong>ABQ Math Tutoring</strong> <span class="rating"><img src="<%=WEBSITE_IMG_URL%>rating_img.png"
                    alt="img" loading="lazy"> 4.5</span>
                <p>Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry. Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry.</p>
                <a href="javascript:void(0)" class="btn btn-primary btn-outline-primary">Read more</a>
              </div>
            </div>
            <div class="item">
              <div class="tutor_review_txt">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_profile1.jpg" alt="img" loading="lazy"></figure>
                <h4>Paul Phillips</h4>
                <strong>ABQ Math Tutoring</strong> <span class="rating"><img src="<%=WEBSITE_IMG_URL%>rating_img.png"
                    alt="img" loading="lazy"> 4.5</span>
                <p>Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry. Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry.</p>
                <a href="javascript:void(0)" class="btn btn-primary btn-outline-primary">Read more</a>
              </div>
            </div>
            <div class="item">
              <div class="tutor_review_txt">
                <figure><img src="<%=WEBSITE_IMG_URL%>tutor_profile1.jpg" alt="img" loading="lazy"></figure>
                <h4>Stuart Johnson</h4>
                <strong>ABQ Math Tutoring</strong> <span class="rating"><img src="<%=WEBSITE_IMG_URL%>rating_img.png"
                    alt="img" loading="lazy"> 4.5</span>
                <p>Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry. Lorem Ipsum is simply dummy <br>
                  text of the printing and typesetting <br>
                  industry.</p>
                <a href="javascript:void(0)" class="btn btn-primary btn-outline-primary">Read more</a>
              </div>
            </div>
          </div>
          <div class="text-center view_more"> <a href="javascript:void(0)" class="btn btn-primary">View all</a> </div>
        </div>
      </div>



      <!-- <script src="<%=WEBSITE_JS_PATH%>custom_calendar.js" type="text/javascript" ></script>
<script src="<%=WEBSITE_JS_PATH%>loginSignupValidation.js" type="text/javascript" ></script> -->